<div class="box">

    <div class="box-title">Schedule a New Event</div>
    <div class="box-description">
        Fill in the form below to create your event and share it with your friends and colleagues.
    </div>
    <ol class="box-steps">
        <li class="step" ng-class="{ active : page == 1, complete : page > 1 }">
            General Details
        </li>
        <li class="step" ng-class="{ active : page == 2, complete : page > 2 }">
            Dates &amp; Times
        </li>
        <li class="step" ng-class="{ active : page == 3, complete : page > 3 }">
            Invite Friends
        </li>
    </ol>
    <form novalidate autocomplete="off" name="form" ng-submit="submit()">
        <div ui-view>

        </div>
    </form>
</div>
