<div class="box-message">
    <div class="main-image">
        <img src="/images/success_large.png" width="100" />
    </div>
    <div class="title">Event Created</div>
    <div class="content">
        Your event has been created successfully! You should receive an email shortly with instructions to verify your email address.
    </div>
    <div class="mini-divider">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" disabled="true" value="{{eventUrl}}" />
        <a href="{{eventUrl}}" class="btn form-btn">GO</a>
    </div>
</div>
