@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto+Condensed:400,700);

@import "bourbon/bourbon";
$gutter: golden-ratio(4em, 1) !default;
@import "neat/neat";
@import "modules/vars";
@import "modules/mixins";
@import "partials/normalize";

$slab-font : "Roboto Slab", "Roboto", Helvetica, Arial, sans-serif;
$dark-clr : #4C4D4F;

body {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.intro {
    background: #3B455B url('../images/landing/intro_bg.jpg') no-repeat;
    background-size: cover;
    color: white;
}
.intro-overlay {
    position:relative;
    padding-top:30px;
    overflow:hidden;
    &:after {
      content: "";
      position: absolute;
      z-index: 1000;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      border-bottom: 150px solid white;
      border-left: 2000px solid transparent;
      border-right: 0px solid transparent;
    }
}


.container {
    @include outer-container;
    @include pad(0 30px);
}

.header {
    padding: 20px 0;
    margin-bottom:80px;
    .logo {
        float:left;
        img {
            width:100px;
        }
    }
    .main-nav {
        .links {
            float:right;
            margin:0;
            li {
                display:inline-block;
                a {
                    @include transition(color 0.2s ease-in-out);
                    color:white;
                    text-decoration: none;
                    font-size: em(12px);
                    padding:0 12px;
                    color: #ABB2C3;
                    &:hover {
                        color: white;
                    }
                    &.active {
                        color:white;

                    }
                }
            }
        }
    }
}

.intro-headline {
    margin-bottom: 40px;
    h1, h2 {
        text-align:center;
        margin:0 auto;
    }
    h1 {
        font-family: $slab-font;
        font-size: em(38);
    }
    h2 {
        font-weight:normal;
        color: #ABB2C3;
        font-size: em(28);
        max-width:520px;
    }
}

.intro-actions {
    text-align:center;
    .free-label {
        width:76px;
        position:absolute;
        height:53px;
        left:-90px;
        top:-30px;
        background: url('../images/landing/free.png') no-repeat;
        background-size: cover;
    }
}

.button {
    position:relative;
    display:inline-block;
    color:white;
    font-size:em(12);
    font-weight: bold;
    text-decoration:none;
    margin:0 5px;
    padding: 10px 15px;
    background: #5C6881;
    border-radius: 2px;
    @include transition(background 0.2s ease-in-out);
    &:hover {
        background: darken(#5C6881, 5%);
    }
    &.primary {
        background: $green-clr;
        &:hover {
            background: darken($green-clr, 5%);
        }
    }
}

.intro-shots {
    position:relative;
    height: 455px;
    margin-top:80px;
    text-align: center;
    min-width:800px;
    .desktop {
        position:relative;
        display:inline-block;
        background: url('../images/landing/desktop.png') no-repeat;
        background-size: cover;
        width: 812px;
        height: 548px;
    }
    .mobile {
        position:absolute;
        right:20px;
        top:50px;
        background: url('../images/landing/mobile.png') no-repeat;
        background-size:cover;
        width: 250px;
        height: 514px;
    }
}

.landing-section {
    position:relative;
    padding-top:20px;
    overflow:hidden;
    text-align:center;
    &.bottom {
        padding-bottom:200px;
        &:after {
          content: "";
          position: absolute;
          z-index: 1000;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 0;
          border-bottom: 150px solid $background-clr;;
          border-left: 2000px solid transparent;
          border-right: 0px solid transparent;
        }
    }
    &.dark {
        padding-top:40px;
        color:white;
        background: #343B4A;
        margin:80px 0;
        h3 {
            color: lighten(#343B4A, 20%);
        }
        h4 {
            color:white;
        }
    }
    h3, h4 {
        text-align:center;
        margin:0 auto;
    }
    h3 {
        color: $green-clr;
        font-size: em(14);
        text-transform: uppercase;
        margin-bottom:20px;
    }
    h4 {
        font-family: $slab-font;
        font-size:em(36);
        line-height:1.2em;
        margin-bottom:40px;
        max-width: 580px;
        color: $dark-clr;;
    }
    .seperator {
        width:100%;
        margin-bottom: 40px;
        text-align:center;
        &:after {
            content: '';
            display:inline-block;
            height:1px;
            background: $border-clr;
            width: 500px;
        }
    }
}

.features {
    @include row;
    margin-bottom: 80px;
    margin-top: 80px;
    position:relative;
    text-align:left;
    .feature {
        @include span-columns(4);
        .image {
            height:48px;
            vertical-align:bottom;
            position:relative;
            margin-bottom:15px;
            img {
                position:absolute;
                bottom:0;
            }
        }
        h5 {
            color: $dark-clr;
            font-size: em(18);
            margin:0 0 5px 0;
        }
        p {
            margin:0;
            font-size:em(14);
            color: #7D8594;
        }
    }
}

.questions-section {
    text-align:left;
    @include row;
    margin-bottom:40px;
    margin-top:80px;
    .questions-col {
        @include span-columns(6);
        .question {
            margin-bottom:20px;
            a {
                color: $blue-clr;
                text-decoration:none;
                &:hover {
                    color: darken($blue-clr, 15%);
                    text-decoration:underline;
                }
            }
            h6 {
                font-size: em(18);
                font-weight:normal;
                color: $text-2-clr;
                margin:0 0 5px 0;
            }
            p {
                font-size: em(16);
                line-height:1.5em;
                margin:0;
                color: $text-clr;
            }
        }
    }
}
.stats {
    .actions {
        margin-bottom:40px;
    }
}

.share {
    .networks {
        margin-bottom: 40px;
        a {
            display:inline-block;
            width: 60px;
            height:60px;
            margin: 0 10px;
            &.twitter {
                background-image: url('../images/social/twitter.png');
            }
            &.github {
                background-image: url('../images/social/github.png');
            }
            &.facebook {
                background-image: url('../images/social/facebook.png');
            }
            background-size: 60px 120px;
            &:hover {
                background-position: 0 -60px;
            }
        }
    }
}
.footer-section {
    padding:40px 0 40px 0;
    background: $background-clr;
    .footer {
        @include row;
        .about {
            @include span-columns(5);
            p {
                font-size: em(12);
                color: $text-3-clr;
                line-height:1.5em;
                a {
                    color: $text-3-clr;
                    &:hover {
                        color: $text-clr;
                    }
                }
            }
        }
        .menu, .social {
            @include span-columns(2);
            .links {
                list-style:none;
                padding:0;
                a {
                    font-size: em(12);
                    text-decoration: none;
                    color: $text-3-clr;
                    &:hover {
                        color: $text-clr;
                    }
                }
            }
        }
        .logo {
            @include span-columns(3);
        }
        .footer-col {
            h6 {
                margin:0;
                font-size: em(12);
                text-transform: uppercase;
                font-weight: bold;
                color:$text-clr;
            }
        }
    }
}

@include media($tablet) {
    body {
        font-size:14px;
        height: 100%;
        width: 100%;
    }
    .container {
        padding:0 20px;
    }
    .main-nav {
        display:none;
    }
    .header {
        margin-top:40px;
        margin-bottom:20px;
        text-align:center;
        .logo {
            float:none;
        }
        .container {
            padding:0;
        }
    }
    .intro-overlay {
        padding:0;
    }
    .intro-headline {
        h1 {
            font-size:30px;
        }
        h2 {
            font-size:18px;
        }
    }
    .intro-actions {
        .free-label {
            display:none;
        }
    }
    .intro-shots {
        min-width:0;
        margin-top:0;
        height:400px;
        .desktop {
            display:none;
        }
        .mobile {
            left:50%;
            margin-left:-130px
        }
    }
    .landing-section {
        &.bottom {
            padding-bottom:100px;
        }
        h3, h4 {
        }
    }
    .features {
        margin:20px 0;
        .feature {
            text-align:center;
            @include span-columns(8);
            margin-bottom:40px;
            .image {
                margin-bottom:10px;
                img {
                    position:static;
                }
            }
            h5 {
                font-size: 24px;
            }
            p {
                font-size: 16px;
            }
        }
    }
    .questions-section {
        margin-top:40px;
        text-align:center;
        .questions-col {
            @include span-columns(8);
        }
    }
    .footer-section {
        .footer {
            text-align:center;
            .menu {
                display:none;
            }
            .about, .social, .logo {
                @include span-columns(8);
            }
            .logo {
                margin-bottom:20px;
            }
            .social {
                margin-bottom:20px;
                h6 {
                    display:none;
                }
                .links {
                    margin:0;
                    li {
                        display:inline-block;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
