@import url(https://fonts.googleapis.com/css?family=Roboto:400,600,700);
@import "bourbon/bourbon";
$gutter: golden-ratio(4em, 1) !default;
@import "neat/neat";
@import "modules/vars";
@import "modules/mixins";
@import "partials/normalize";

body {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

a {
    color: $blue-clr;
}

@import "partials/applayout";
@import "partials/navigation";
@import "partials/topbar";
@import "partials/ui/animations";
@import "partials/ui/buttons";
@import "partials/ui/form";
@import "partials/ui/box";
@import "partials/ui/datepicker";
@import "partials/ui/modal";
@import "partials/ui/poll";
@import "partials/ui/tags";
@import "partials/ui/dropdown";
@import "partials/ui/comments";
@import "partials/ui/switch";
@import "partials/ui/notification";
@import "partials/ui/timepicker";

@import "partials/pages/home";
@import "partials/pages/event";
@import "partials/pages/newevent";
@import "partials/pages/404";

@import "partials/media/mobile";
