.form-success {
    text-align:center;
}

.form-success-url {
    font-size: em(24px);
    text-align:center;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #eee;
    color: $text-clr;
}
