.form-container {
    width:100%;
}

.form-row {
    @include row();
    margin-bottom:10px;
    @include user-select(none);
}

.form-col {
    @include span-columns(6);
    &.padded {
        &:first-child {
            padding: 0 20px 0 0;
        }
        &:last-child {
            padding: 0 0 0 20px;
        }
    }
}

.form-big-col {
    @include span-columns(12);
}

.form-small-col {
    @include span-columns(2);
}

.form-error-msg {
    color: $red-clr;
    font-size: em(12px);
    padding: em(5px);
}

.form-group {
    & > label {
        font-size:em(12px);
        color: $dark-gray-clr;
        display:block;
        line-height:em(30px);
        &:after {
            content: "*";
            color: $red-clr;
            margin-left:5px;
        }
        &.optional:after {
            content: "";
        }
    }
    input.form-control, textarea.form-control {
        border-radius: 3px;
        border: 1px solid #ddd;
        font-size:em(18px);
        @include transition(border-color 0.1s ease-in-out);
        &:focus {
            border-color: $blue-clr;
            outline:none;
        }
        &.extend {
            width:100%;
        }
        @include placeholder {
            color: rgba($dark-gray-clr,0.7);
        }
    }
    &.error {
        input.form-control, textarea.form-control {

            border-color: $red-clr;
            background: rgba($red-clr,0.02);
        }
    }
    input.form-control {
        padding: em(5px) em(10px);
    }
    textarea.form-control {
        min-height: 100px;
        font-size: em(18px);
        padding: em(8px) em(10px);
    }
}

.form-submit-message {
    display:inline-block;
    margin-left: em(5px);
    font-size: em(12px);
    &.error {
        color: $red-clr;
    }
    img {
        vertical-align:middle;
        margin-right: em(5px);
    }
}
