.header {
    @include span-columns(3);
    .fixed {
        position: fixed;
    }
    .primary-section {
        margin: em(35px) 0;
    }
    .secondary-section {

    }
    .nav-links {
        font-size: em(16px);
        font-weight: normal;
        line-height: em(24px);
        .nav-link {
            display:block;
            text-decoration:none;
            color: $dark-gray-clr;
            &:hover {
                color: $text-clr;
            }
            &.active {
                color: $blue-clr;
            }
        }
    }
}
