.rl-modal {
    background:white;
    position: fixed;
    top: 50%;
    box-shadow: 0 0 5px rgba(black, 0.1);
    left: 50%;
    width: 50%;
    max-width: 400px;
    display:inline-block;
    min-width: 200px;
    height: auto;
    z-index: 2000;
    overflow:hidden;
    border-radius: 5px;
    border: 1px solid #ddd;
    @include transform(translateX(-50%) translateY(-50%));
    .rl-modal-message {
        padding: 0 20px 20px 20px;
        font-size: em(12px);
        color: $body-clr;
    }
    .rl-modal-title {
        padding:20px 20px 5px 20px;
        font-size: em(18px);
        font-weight: bold;
    }
    .rl-modal-actions {
        border-top:1px solid #ddd;
        background: #F9FAFA;
        text-align:right;
        padding: em(10px) em(20px);
    }
}

.rl-modal-overlay {
    position:fixed;
    z-index: 1000;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(black,0.1);

}
