h1 {
    font-weight:bold;
    font-size: em(36px);
    color: $text-clr;
    small {
        font-size: em(12px);
    }
}

h2 {
    font-weight:600;
    font-size:em(14px);
    color: $text-clr;
    padding-bottom:5px;
    small {
        margin-left: em(10px);
        display:inline-block;
    }
    small, small a {
        font-size: em(12px);
        color: $dark-gray-clr;
        font-weight:normal;
    }
    small a {
        text-decoration:none;
        &:hover {
            color: $red-clr;
            border-bottom: 1px solid #ddd;
        }
    }
}

p {
    color: $body-clr;
    a {
        color: $primary-clr;
    }
}
