<div class="section-details">
    <div class="section-title">Choose Dates</div>
    <ul class="daticon-list">
        <li ng-repeat="d in event.dates">
            <div class="daticon">
                <div class="dow">
                    {{d | date: 'EEE'}}
                </div>
                <div class="day">
                    {{d | date: 'd'}}
                </div>
                <div class="month">
                    {{d | date : 'MMM'}}
                </div>
                <span class="delete" ng-click="datepicker.removeDate(d)"></span>
            </div>
        </li>
    </ul>
</div>
<div class="section-main">
    <div class="form-row">
        <div class="form-group">
            <label for="email">Calendar</label>
            <span class="form-error" ng-show="form.$submitted && form.datepicker.$error.required">
                <img src="/images/error.png" width="14" /> You need to select a few dates
            </span>
            <div datepicker required name="datepicker" control="datepicker" ng-model="event.dates">

            </div>
        </div>
    </div>
</div>
