@include media($tablet) {
    html {
        width:100%;
    }
    body {
        font-size:em(14px);
        position:relative;
        @include transition(all 0.3s ease-in-out);
        right:0;
        width:100%;
        &.open-menu {
            overflow:hidden;
            right:200px;
            .main-navigation {
                display:block;
            }
        }
    }
    .outer-container {
        padding:0;
        width:100%;
    }
    .main-navigation {
        display:none;
        box-shadow:inset 3px 0 3px rgba($border-clr,0.5);
        height:100%;
        right:-200px;
        width:200px;
        padding:20px;
        top:0;
        margin:0;
        position:absolute;
    }
    .mobile-navigation{
        display:block;
    }
    .main-content {
        margin-left:0;
        width:100%;
        padding:0;
        .main-view {
            padding: 0;
        }
    }
    .top-bar {
        display:none;
    }
}

@include media($tablet) {
    .box {
        border-radius:0;
        padding-left: 20px;
        padding-right:20px;
    }
}


@include media($tablet) {
    .box {
        border-radius:0;
        border:0;
        margin:0;
        .box-section {
            .section-details {
                @include span-columns(8);
                .section-title {
                    font-size: em(12px);
                    text-transform:uppercase;
                    font-weight: bold;
                    color: $text-clr;
                    margin-bottom:10px;
                    border-bottom: 1px solid $border-clr;
                    padding-bottom: 5px;
                }
            }
            .section-main {
                @include span-columns(8);

            }
        }
    }

}

@include media($tablet) {
    .newevent-steps {
        display:none;
    }
}

@include media($tablet) {
    .event-header {
        .details {
            display:block;
            max-width:100%;
            margin-bottom:10px;
        }
        .actions {
            visibility:visible;
            position:static;
            margin-bottom:20px;
        }
    }
    .event-description {
        background:transparent;
        border:0;
        padding-top:0;
        padding-bottom:0;
        font-size: em(16);
    }
}

@include media($tablet) {
    .date-picker {
        .wrapper {
            padding: em(10);
        }
        .values {
            .value {
                line-height: em(45px);
            }
        }
    }
    .daticon {
        .delete {
            opacity:1;
        }
    }
}

@include media($tablet) {
    .form-col {
        @include span-columns(8);
        margin-bottom: 10px;
    }
}

@include media($tablet) {
    .poll-wrapper {
        width: calc(100% + 40px);
        margin-left:-20px;
        border-bottom: 1px solid $border-clr;
    }
    .poll-body {
        .poll-example {
            .overlay {
                text-align:left;
            }
        }
    }
    $col1-width : 160px;
    .poll-header {
        .header {
            &.participants-header {
                min-width: $col1-width;
                width: $col1-width;
            }
        }
    }
    .poll-body {
        .poll-entry {
            .cell {
                &.name-cell {
                    min-width: $col1-width;
                    width: $col1-width;
                    .form-control {
                        width:100px;
                    }
                    .name {
                        width:100px;
                    }
                }
            }
            .hover {
                visibility:visible;
            }
        }
    }
}


// MODAL

@include media($tablet) {
    .rl-modal {
        position: fixed;
        max-width:auto;
        min-width:auto;
        width:100%;
        top:0;
        left:0;
        border-radius:0;
        @include transform(none);
        &.ng-enter-active {
            background: black;
        }
        .rl-modal-message {
        }
        .rl-modal-title {
        }
        .rl-modal-actions {
        }
    }
}
