1. Use yarn for package management
2. Use dayjs for date handling
3. Use tailwindcss for styling
4. Use react-query for data fetching
5. Use react-hook-form for form handling
6. Prefer implicit return values over explicit return values
7. Use zod for form validation

