services:
  rallly_db:
    image: postgres:14.2
    restart: always
    ports:
      - "5450:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=rallly
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  rallly_selfhosted:
    build:
      args:
        - SELF_HOSTED=true
      context: .
      dockerfile: ./apps/web/Dockerfile
    restart: always
    depends_on:
      rallly_db:
        condition: service_healthy
    ports:
      - 3000:3000
    environment:
      - DATABASE_URL=postgres://postgres:postgres@rallly_db/rallly
    env_file:
      - .env

volumes:
  db-data:
    driver: local
