<html ng-app="rallly">
<head>
    <title>Rallly - Collabrative Scheduling</title>
    <base href="/">
    <link rel="stylesheet" href="/css/style.css" media="screen" charset="utf-8">
</head>
<body>
    <header class="header">
        <div class="container">
            <section class="primary-section">
                <a href="/">
                    <img src="/images/logo@2x.png" width="100" alt="Rallly - Collabrative Scheduling" />
                </a>
            </section>
            <section class="secondary-section">
                <nav class="nav-links">
                    <a class="nav-link" href="/about">What is this?</a>
                    <a class="btn btn-flat" href="/">
                        Schedule New Event
                    </a>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <h1>About</h1>
    </div>
</body>
</html>
