extends ./layout.pug

block scripts
    script(type='text/javascript', src='/vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/vendor/datejs/build/production/date.min.js')
    script(type='text/javascript', src='/vendor/angular/angular.min.js')
    script(type='text/javascript', src='/vendor/angular-resource/angular-resource.min.js')
    script(type='text/javascript', src='/vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(type='text/javascript', src='/vendor/angular-modal/modal.min.js')
    script(type='text/javascript', src='/vendor/ng-tags-input/ng-tags-input.min.js')
    script(type='text/javascript', src='/vendor/angular-animate/angular-animate.min.js')
    script(type='text/javascript', src='/vendor/angular-sanitize/angular-sanitize.min.js')
    script(type='text/javascript', src='/build/app.js')
            
block content
  .outer-container(ng-app='rallly')
    .mobile-navigation(ng-controller='NavigationCtrl')
        a.logo(href='/', target='_self')
            img(src='/images/logo.png', width='100')
        nav
            a.menu-toggle(href='#', ng-click='toggleMenu()')
                img(src='/images/menu_toggle.png', width='24')
    .main-navigation
        a.logo(href='/', target='_self')
            img(src='/images/logo_light.png', width='100')
        .menu-section Menu
        nav
            a(href='/', target='_self') 
                img(src='/images/home.png', width='14')
                span Homepage
            a(href='/#about', target='_self') 
                img(src='/images/about.png', width='14')
                span About
            a(href='https://github.com/lukevella/Rallly/issues') 
                img(src='/images/support.png', width='14')
                span Support
        .seperator
        a.create-new(href='/new') 
            img(src='/images/add.png', width='12')
            span Schedule an Event
        
    .main-content
        .main-view(ui-view='')
