<html ng-app="rallly">
    <head>
        <title>Rallly - Collaborative Scheduling</title>
        <base href="/">
        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon-180x180.png">
        <link rel="shortcut icon" href="/images/favicon/favicon.ico">
        <link rel="icon" type="image/png" href="/images/favicon/favicon-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/images/favicon/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png">
        <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
        <link rel="stylesheet" href="/css/style.css" media="screen" charset="utf-8">
        <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="/vendor/ngFx/dist/ngFx.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-modal/modal.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-hotkeys/angular-hotkeys.min.js"></script>
        <script type="text/javascript" src="/build/app.js"></script>
    </head>
    <body>
        <div class="outer-container">
            <div class="main-navigation">
                <div class="wrapper">
                    <a href="/" class="logo">
                        <img class="logo-img" src="/images/logo.png" width="100" alt="Rallly - Collabrative Scheduling" />
                    </a>

                    <nav class="navigation" ng-controller="NavigationCtrl">
                        <ul class="links">
                            <li>
                                <a href="/" ng-class="{active:isActive('/')}">
                                    <i back-img="dashboard" class="icon"></i>
                                    <span class="text">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="/about" ng-class="{active: isActive('/about')}">
                                    <i back-img="lightbulb" class="icon"></i>
                                    <span class="text">About</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="create-new">
                        <a href="/new" target="_blank" rel="nofollow">
                            <img src="/images/add.png" width="12" />
                            <span>New Event</span>
                        </a>
                    </div>
                </div>
                <div class="top-bar">
                    <ul class="primary">
                        <li class="item">
                            <a class="hoverable dropdown" href="#">
                                <img src="/images/person.png" height="16"/>
                                <span>Guest</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-content">
                <div ui-view class="main-view">
                </div>
            </div>


        </div>
    </body>
</html>
