<html ng-app="rallly">
    <head>
        <title>Rallly - Collabrative Scheduling</title>
        <base href="/">
        <link rel="stylesheet" href="/css/style.css" media="screen" charset="utf-8">
        <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="/vendor/ngFx/dist/ngFx.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-modal/modal.min.js"></script>
        <script type="text/javascript" src="/build/app.js"></script>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <div class="fixed">
                <section class="primary-section">
                    <a href="/">
                        <img src="/images/logo@2x.png" width="100" alt="Rallly - Collabrative Scheduling" />
                    </a>
                </section>
                <section class="secondary-section">
                    <nav class="nav-links">
                        <a class="nav-link" href="/">New Event</a>
                        <a class="nav-link" href="/about">What is this?</a>
                    </nav>
                </section>
                </div>
            </header>
            <div class="main-content" ui-view>

            </div>
        </div>
    </body>
</html>
