extends ./layout.pug

block style
    link(rel='stylesheet', href='/css/landing.css', media='screen', charset='utf-8')

block scripts
    script(type='text/javascript', src='/vendor/angular/angular.min.js')
    script(type='text/javascript', src='/vendor/ngSmoothScroll/angular-smooth-scroll.min.js')
    script(type='text/javascript', src='/vendor/skrollr/dist/skrollr.min.js')
    script(type='text/javascript').
        var app = angular.module('landing', ['smoothScroll']);


block content
    div(ng-app='landing')
        section#intro.intro: .intro-overlay: .container
            header.header: .container
                a.logo(href='/')
                    img(src='/images/logo.png', alt='Rallly Collaborative Scheduling')
                nav.main-nav
                    ul.links
                        li: a.active(href='#', scroll-to='intro') Home
                        li: a(href='#', scroll-to='features') Features
                        li: a(href='#', scroll-to='about') About
                        li: a(href='mailto:me@lukevella.com') Contact
            .intro-headline
                h1 Collaborative Scheduling Done Right
                h2 Rallly lets you and your friends vote on a date to host an event
            .intro-actions
                a#schedule-event.button.primary(href='/new') Schedule an Event
                    span.free-label
                a#view-demo.button(href='/example') View Demo
            .intro-shots
                .desktop
                .mobile
        section#features.landing-section: .container
                h3 Features
                h4 Rallly makes collaborating with friends quick and easy
                .features
                    .feature
                        .image: img(src='/images/landing/share.png', width='48')
                        h5 Share
                        p Create a page for your upcoming event and share it with your friends.
                    .feature
                        .image: img(src='/images/landing/discuss.png', width='48')
                        h5 Discuss
                        p Discuss details of the event with your friends right on the event page.
                    .feature
                        .image: img(src='/images/landing/vote.png', width='48')
                        h5 Vote
                        p Let everyone know which dates best work for you and find a common date to host your event.
                .seperator#about
                h3 About
                h4 Frequently Asked Questions
                .questions-section
                    .questions-col
                        .question
                            h6 Who made this?
                            p Rallly was created by
                                a(href='http://lukevella.com') Luke Vella
                                | .
                        .question
                            h6 Is it free?
                            p Yes, Rallly is completely free to use.
                        .question
                            h6 Why did you create Rallly?
                            p
                                | I wanted to create something that was useful, simple and beautiful.
                                | Also I needed a project that could help me improve my skill set.
                    .questions-col
                        .question
                            h6 This is great, is there anything I can do to help out?
                            p
                                | Yes! Rallly is open source, so you can contribute to the project on
                                a(href='https://github.com/lukevella/Rallly') GitHub
                                | .
                        .question
                            h6 Where can I submit a feature request?
                            p
                                | You can either create a
                                a(href='https://github.com/lukevella/Rallly/issues/new') new issue
                                |  on GitHub or send an email to
                                a(href='mailto:hello@lukevella.com') hello@lukevella.com
                                | .
        section#share.landing-section.bottom: .container
            .seperator
            .share
                h3 Share
                h4 Show your support
                .networks
                    a.twitter(href='https://twitter.com/home?status=Check%20out%20Rallly,%20a%20free%20collaborative%20scheduling%20service%20by%20%40imlukevella.%20http://rallly.co')
                    a.facebook(href='https://www.facebook.com/sharer/sharer.php?u=http://rallly.co')
                    a.github(href='https://github.com/lukevella/Rallly')

        //- section#stats.landing-section.bottom: .container
        //-     .seperator
        //-     .stats
        //-         h3 Stats
        //-         h4
        //-             span.event-count= eventCount
        //-             |  Events Created
        //-         .actions
        //-             a.button.primary(href='/new') Schedule an Event
        //-             a.button(href='/example') View Demo
        section#footer.footer-section: .container
            footer.footer
                .logo.footer-col
                    img(src='/images/logo_light.png', width='100')
                .menu.footer-col
                    h6 Menu
                    ul.links
                        li: a(href='#', scroll-to='intro') Home
                        li: a(href='#', scroll-to='features') Features
                        li: a(href='#', scroll-to='about') About
                        li: a(href='mailto:me@lukevella.com') Contact
                .social.footer-col
                    h6 Social
                    ul.links
                        li: a(href='http://twitter.com/imlukevella') Twitter
                        li: a(href='http://dribbble.com/lukevella') Dribbble
                        li: a(href='http://github.com/lukevella/Rallly') GitHub
                .about.footer-col
                    h6 About
                    p
                        | Rallly was designed &amp; developed by
                        a(href='http://lukevella.com') Luke Vella
                        | . If you'd like to stay up to date on new projects,
                        | please follow on
                        a(href='http://twitter.com/imlukevella') Twitter
                        | ,
                        a(href='http://dribbble.com/lukevella') Dribbble
                        |  and
                        a(href='http://github.com/lukevella/Rallly') GitHub
                        | .
