html(ng-app='rallly')
  head
    title Rallly - Collaborative Scheduling
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='apple-touch-icon', sizes='57x57', href='/images/favicon/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/favicon/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/images/favicon/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/images/favicon/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/images/favicon/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/images/favicon/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/images/favicon/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/images/favicon/apple-touch-icon-180x180.png')
    link(rel='shortcut icon', href='/images/favicon/favicon.ico')
    link(rel='icon', type='image/png', href='/images/favicon/favicon-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/images/favicon/favicon-160x160.png', sizes='160x160')
    link(rel='icon', type='image/png', href='/images/favicon/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/images/favicon/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='/images/favicon/favicon-32x32.png', sizes='32x32')
    meta(name='msapplication-TileColor', content='#2b5797')
    meta(name='msapplication-TileImage', content='/images/favicon/mstile-144x144.png')
    meta(name='msapplication-config', content='/images/favicon/browserconfig.xml')
    block style
      link(rel='stylesheet', href='/css/style.css', media='screen', charset='utf-8')
    block scripts
  body
    block content
