@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";
@plugin "tailwind-scrollbar";

@source "../../packages/ui/src/**/*.{ts,tsx}";

:root {
  --primary: var(--color-indigo-600);
  --primary-foreground: var(--color-white);

  --border: var(--color-gray-200);
  --border-muted: oklch(.871 .006 286.286 / .5);

  --input: var(--color-white);
  --input-border: var(--color-gray-200);
  --input-foreground: var(--color-gray-800);

  --ring: #d1d5db;

  --destructive: var(--color-rose-600);
  --destructive-foreground: var(--color-rose-100);

  --background: var(--color-white);
  --foreground: var(--color-gray-800);

  --accent: oklch(.552 .016 285.938 / .1);
  --accent-border: var(--color-gray-300);
  --accent-foreground: var(--color-gray-800);

  --action-bar: #1f2937;
  --action-bar-foreground: #f9fafb;

  --muted: oklch(.92 .004 286.32 / .5);
  --muted-foreground: var(--color-gray-600);
  --muted-border: oklch(.871 .006 286.286);

  --popover: var(--color-white);
  --popover-foreground: var(--color-gray-800);
  --popover-accent: oklch(.552 .016 285.938 / .1);
  --popover-border: var(--color-gray-200);

  --card: var(--color-white);
  --card-border: var(--color-gray-200);
  --card-accent: var(--color-gray-100);
  --card-foreground: var(--color-gray-800);

  --sidebar: var(--color-gray-100);
  --sidebar-foreground: var(--color-gray-800);
  --sidebar-border: var(--color-gray-200);

  --sidebar-accent: var(--color-gray-200);
  --sidebar-accent-foreground: var(--color-gray-800);

  --success: var(--color-green-50);
  --success-foreground: var(--color-green-700);

  --info: var(--color-blue-50);
  --info-foreground: var(--color-blue-700);

  --warning: var(--color-yellow-50);
  --warning-foreground: var(--color-yellow-700);

  --tip: var(--color-green-50);
  --tip-foreground: var(--color-green-700);

  --poll: var(--color-gray-100);
}

.dark {
  --background: var(--color-gray-900);
  --foreground: var(--color-gray-300);

  --primary: var(--color-indigo-500);
  --primary-foreground: var(--color-indigo-50);

  --sidebar: var(--color-gray-900);
  --sidebar-foreground: var(--color-gray-100);
  --sidebar-border: var(--color-gray-800);

  --sidebar-accent: var(--color-gray-800);
  --sidebar-accent-foreground: #f9fafb;

  --border: oklch(.274 .006 286.033);
  --border-muted: oklch(.274 .006 286.033 / .5);

  --input: var(--color-gray-800);
  --input-border: var(--color-gray-700);
  --input-foreground: var(--color-gray-100);

  --ring: #4b5563;

  --destructive: var(--color-rose-500);
  --destructive-foreground: var(--color-rose-50);

  --accent: var(--color-gray-700);
  --accent-border: var(--color-gray-600);
  --accent-foreground: var(--color-gray-100);

  --action-bar: #1f2937;
  --action-bar-foreground: #f9fafb;

  --muted: var(--color-gray-800);
  --muted-foreground: var(--color-gray-400);
  --muted-border: var(--color-gray-700);

  --popover: var(--color-gray-800);
  --popover-border: var(--color-gray-700);
  --popover-foreground: var(--color-gray-300);
  --popover-accent: var(--color-gray-700);

  --card: #27272a50;
  --card-border: var(--color-gray-800);
  --card-foreground: var(--color-gray-300);
  --card-accent: var(--color-gray-800);

  --success: var(--color-green-950);
  --success-foreground: var(--color-green-100);

  --warning: var(--color-yellow-950);
  --warning-foreground: var(--color-yellow-100);

  --poll: var(--color-gray-900);
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-border: var(--border);
  --color-border-muted: var(--border-muted);

  --color-input: var(--input);
  --color-input-border: var(--input-border);
  --color-input-foreground: var(--input-foreground);

  --color-ring: var(--ring);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-accent: var(--accent);
  --color-accent-border: var(--accent-border);
  --color-accent-foreground: var(--accent-foreground);

  --color-action-bar: var(--action-bar);
  --color-action-bar-foreground: var(--action-bar-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted-border: var(--muted-border);

  --color-popover: var(--popover);
  --color-popover-border: var(--popover-border);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-accent: var(--popover-accent);
  
  --color-card: var(--card);
  --color-card-border: var(--card-border);
  --color-card-accent: var(--card-accent);
  --color-card-foreground: var(--card-foreground);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-poll: var(--poll);

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-tip: var(--tip);
  --color-tip-foreground: var(--tip-foreground);
}

@theme {
  --shadow-huge:
    0px 51px 78px rgb(17 7 53 / 5%), 0px 21.3066px 35.4944px rgb(17 7 53 / 4%),
    0px 11.3915px 18.9418px rgb(17 7 53 / 3%),
    0px 6.38599px 9.8801px rgb(17 7 53 / 3%),
    0px 3.39155px 4.58665px rgb(17 7 53 / 2%),
    0px 1.4113px 1.55262px rgb(17 7 53 / 1%),
    inset 0px 1px 0px rgb(41 56 78 / 5%);

  --breakpoint-xs: 375px;

  --ease-in-expo: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

  --font-sans:
    var(--font-inter), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-gray-50: var(--color-zinc-50);
  --color-gray-100: var(--color-zinc-100);
  --color-gray-200: var(--color-zinc-200);
  --color-gray-300: var(--color-zinc-300);
  --color-gray-400: var(--color-zinc-400);
  --color-gray-500: var(--color-zinc-500);
  --color-gray-600: var(--color-zinc-600);
  --color-gray-700: var(--color-zinc-700);
  --color-gray-800: var(--color-zinc-800);
  --color-gray-900: var(--color-zinc-900);
  --color-gray-950: var(--color-zinc-950);
  
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentcolor);
  }
}

@utility text-link {
  @apply text-primary rounded-md font-medium outline-hidden hover:underline focus:outline-hidden focus-visible:ring-2 focus-visible:ring-offset-1;
}

@utility bg-diagonal-lines {
  background-color: #f9fafb;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0' y1='0' x2='100%' y2='100%' stroke='%23e5e7eb' stroke-width='1'/%3E%3C/svg%3E");
  background-repeat: repeat-y;
}

@layer utilities {
  :root {
    --spacing: 0.25rem;
  }
}

@layer base {
  body {
    @apply text-foreground bg-background;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
  html {
    @apply h-full font-sans text-base text-gray-700;
  }
}
