$navigation-width: 200px;
$top-bar-height: 60px;
$min-width: 820px;

.outer-container {
    width:100%;
    height:100%;
    overflow:hidden;
}

body {
    background: $background-clr;
    color: $text-clr;
    min-width: $min-width;
}

.main-navigation {
    position:fixed;
    z-index: 2000;
    min-height:100%;
    width: $navigation-width;
    background: $navigation-bg-clr;
    color: white;
    .wrapper {
        width: $navigation-width;
        padding: 0 40px;
    }
}

.main-content {
    background: $background-clr;
    margin-left: $navigation-width;
    height:100%;
    overflow-y:scroll;
    .main-view {
        position:relative;
        padding: 100px 40px 20px 40px;
        width:100%;
        min-height: 600px;
    }
}

.top-bar {
    width:100%;
    position:fixed;
    top:0;
    background: white;
    height: $top-bar-height;
    z-index: 1000;
    line-height: $top-bar-height;
}
