$navigation-width: 100%;
$top-bar-height: 50px;

.outer-container {
    width:100%;
    height:100%;
}
body {
    background: $background-clr;
}
.main-navigation {
    width: $navigation-width;
    min-width: $navigation-width;
    color: white;
    .wrapper {
        width: $navigation-width;
        padding: 0 40px;
    }
}

.main-content {
    background: $background-clr;
    height:100%;
    .main-view {
        height:100%;
        position:relative;
        padding: 160px 40px 40px 40px;
        width:100%;
        min-height: 400px;
        min-width: 600px;
    }
}

.top-bar {
    width:100%;
    box-shadow: 0 1px 2px rgba(black, 0.1);
    height: $top-bar-height;
    line-height: $top-bar-height;
}
