.main-navigation {
    margin-top:70px;
    .logo {
        display:block;
        margin-bottom:20px;
    }
    .seperator {
        border-bottom:1px solid rgba($border-clr,1);
        margin-bottom:20px;
    }
    p {
        font-size: em(12);
        color: $text-3-clr;
        line-height: 1.5em;
        margin: 0 0 20px 0;
    }
    .menu-section {
        font-size:em(10);
        font-weight:bold;
        color:$text-clr;
        margin-bottom:10px;
        text-transform:uppercase;
    }
    nav {
        margin-bottom:20px;
    }
    nav a {
        color: $text-2-clr;
        text-decoration:none;
        font-size:em(12);
        padding:4px 5px 4px 8px;
        display:block;
        border-radius:2px;
        img {
            margin-right: 8px;
            vertical-align:middle;
            opacity:0.75;
        }
        span {
            vertical-align:middle;
        }
        &:hover {
            background: darken($background-clr,4%);
            img { opacity: 1 }
        }
    }
    .create-new {
        position:relative;
        display:inline-block;
        color:white;
        text-align:center;
        font-size:em(12);
        font-weight: bold;
        text-decoration:none;
        padding: 10px 20px 10px 15px;
        background: $green-clr;
        border-radius: 2px;
        img, span {
            vertical-align:middle;
        }
        img {
            margin-right:8px;
        }
        @include transition(background 0.2s ease-in-out);
        &:hover {
            background: darken($green-clr, 5%);
        }
    }
}
