.main-navigation {
    margin-top:70px;
    position:fixed;
    z-index:1000;
    .logo {
        display:block;
        margin-bottom:20px;
    }
    .seperator {
        border-bottom:1px solid rgba($border-clr,1);
        margin-bottom:20px;
    }
    p {
        font-size: em(12);
        color: $text-3-clr;
        line-height: 1.5em;
        margin: 0 0 20px 0;
    }
    .menu-section {
        font-size:10px;
        font-weight:bold;
        color:$text-clr;
        margin-bottom:10px;
        text-transform:uppercase;
    }
    nav {
        margin-bottom:20px;
    }
    nav a {
        color: $text-2-clr;
        text-decoration:none;
        font-size:13px;
        padding:4px 5px 4px 8px;
        display:block;
        border-radius:2px;
        img {
            margin-right: 10px;
            vertical-align:middle;
        }
        span {
            vertical-align:middle;
        }
        &:hover {
            color: $text-clr;
            background: darken($background-clr,4%);
        }
    }
    .create-new {
        position:relative;
        display:inline-block;
        color:white;
        text-align:center;
        font-size:12px;
        font-weight: bold;
        text-decoration:none;
        padding: 10px 20px 10px 15px;
        background: $green-clr;
        border-radius: 2px;
        img, span {
            vertical-align:middle;
        }
        img {
            margin-right:8px;
        }
        @include transition(background 0.2s ease-in-out);
        &:hover {
            background: darken($green-clr, 5%);
        }
    }
}

.mobile-navigation {
    display:none;
    background: $navigation-bg-clr;
    padding:0 20px;
    height:60px;
    vertical-align:middle;
    .logo {
        float:left;
        margin-top:20px;
    }
    nav {
        text-align:right;
    }
    .menu-toggle {
        color: white;
        font-weight: bold;
        text-transform:uppercase;
        text-decoration:none;
        img {
            margin-top:19px;
        }
    }
    .create-new {
        margin-top:15px;
        display:inline-block;
        position:relative;
        color:white;
        text-align:center;
        font-size:em(14);
        font-weight: bold;
        text-align:center;
        text-decoration:none;
        padding: 8px;
        background: $green-clr;
        border-radius: 2px;
        img {
            vertical-align:middle;
        }
        @include transition(background 0.2s ease-in-out);
        &:hover {
            background: darken($green-clr, 5%);
        }
    }
}
