$top-space: 15px;
$nav-pad: 20px;

@mixin expand {
    padding-left:$nav-pad;
    padding-right: $nav-pad;
    margin-left: $nav-pad * -1;
    width:100%;
    @include box-sizing(content-box);
}

.main-navigation {
    padding: 0 $nav-pad;
    .menu-toggle {
        color: white;
        text-transform:uppercase;
        font-size: em(14px);
        font-weight:bold;
        text-decoration:none;
        line-height: 60px;
        display:none;
    }
    .logo {
        display:block;
        height: 60px;
        line-height:60px;
        background: darken($navigation-bg-clr, 3%);
        position:relative;
        @include transition(background 0.2s ease-in-out);
        @include expand;
        img {
            position:absolute;
            top:50%;
            margin-top:-12px;
        }
    }
    .menu-section {
        @include expand;
        font-size:10px;
        text-transform:uppercase;
        padding : 10px $nav-pad;
        border-bottom: 1px solid darken($navigation-bg-clr, 3%);
        margin-top:20px;
        margin-bottom:10px;
    }
    .create-new {
        display:block;
        font-size: em(12px);
        color: white;
        background: $green-clr;
        text-decoration: none;
        padding: 12px 5px;
        border-radius: 2px;
        text-align: center;
        font-weight: bold;
        @include box-sizing(content-box);
        width: 100%;
        margin-left:-5px;
    }
    .navigation {
        .links {
            padding:0 ;
            margin:0;
            list-style: none;
            a {
                display:block;
                text-decoration: none;
                color: #616F8D;
                line-height: em(40px);
                font-size: em(14px);
                font-weight:bold;
                &:hover {
                    opacity: 1;
                    color:white;
                    .icon {
                        background-position: center bottom;
                    }
                }
                &.active {
                    opacity:1;
                    color: white;
                    cursor: default;
                    .icon {
                        background-position: center bottom;
                    }
                }
                .text {
                }
                .icon {
                    display:inline-block;
                    vertical-align:middle;
                    margin-right: 10px;
                    width:24px;
                    height:24px;
                    background-size: 24px 48px;
                }

            }
        }
    }
}
