/****** BASIC *******/
$em-base: 16px;
$primary-font: "Source Sans Pro";
/****** BASIC *******/

/****** COLORS *******/
$primary-clr: #60DF9D;
$dark-gray-clr: #969FA9;
$light-gray-clr: #f9f9f9;
$text-clr: #3D4752;
$danger-clr: #E55A5A;
$red-clr: #E55A84;
$blue-clr: #5AC4E5;
$medium-gray-clr: #798490;
$body-clr: $medium-gray-clr;
/****** COLORS *******/
