<div class="section-details">
    <div class="section-title">Your Details</div>
</div>
<div class="section-main">
    <div class="form-row">
        <div class="form-col">
            <div class="form-group">
                <label for="name">Name</label>
                <span class="form-error" ng-show="(form.name.$touched || form.$submitted) && errors.name">
                    <img src="/images/error.png" width="14" /> {{errors.name}}
                </span>
                <input id="name" name="name" ng-maxlength="30" required ng-model="event.creator.name" type="text" placeholder="John Doe..." class="form-control extend"/>
            </div>
        </div>
        <div class="form-col">
            <div class="form-group">
                <label for="email">Email</label>
                <span class="form-error" ng-show="(form.email.$touched || form.$submitted) && errors.email">
                    <img src="/images/error.png" width="14" /> {{errors.email}}
                </span>
                <input type="email" id="email" name="email" ng-pattern="emailRegex" required ng-model="event.creator.email" placeholder="john.doe@email.com..." class="form-control extend"/>
            </div>
        </div>
    </div>
</div>
