@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spacing: 0.25rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground bg-background;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
  html {
    @apply h-full font-sans text-base text-gray-700;
  }
  body,
  #__next {
    @apply h-full;
  }

  label {
    @apply block text-sm;
  }

  p {
    @apply leading-normal;
  }

  a,
  button,
  input,
  select,
  textarea {
    @apply rounded outline-none;
  }
}

@layer components {
  .text-link {
    @apply text-primary rounded-md font-medium outline-none hover:underline focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-1;
  }
  .btn {
    @apply inline-flex h-9 select-none items-center justify-center gap-x-1.5 whitespace-nowrap rounded-md border px-2.5 text-sm font-medium;
  }
  a.btn {
    @apply cursor-pointer hover:no-underline;
  }

  .btn-default {
    @apply btn bg-white/50 text-gray-700 hover:bg-gray-50 hover:shadow-sm active:bg-gray-200 active:shadow-none;
  }

  button[disabled] {
    @apply cursor-not-allowed;
  }
}

@layer utilities {
  .bg-diagonal-lines {
    background-color: #f9fafb;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0' y1='0' x2='100%' y2='100%' stroke='%23e5e7eb' stroke-width='1'/%3E%3C/svg%3E");
    background-repeat: repeat-y;
  }
}
