<div style="max-width:600px">
    <h1>What is Rallly?</h1>
    <div class="rl-page-desc">Rallly is a collaborative scheduling service that makes deciding on a date fast and easy.</div>
    <h2>Hi, I'm Luke!</h2>
    <p>
        I created Rallly as side project to help me learn some new technologies. I decided to publish it because I thought other people might find it useful. Rallly is a completely free service. In fact it is even open source. You can look at the latest source code on Github.
    </p>
</div>
