<div class="box">
    <div class="box-title">Frequently Asked Questions</div>
    <div class="box-description">
        Want to find out more about Rallly? Check out the FAQs below.
    </div>    <h2>What is Rallly?</h2>
    <p>
        Rallly is a collaborative scheduling service that makes deciding on a date fast and easy. In other words, Rallly helps you and your friends decide on a date to host an event.
    </p>
    <h2>Why is it called Rallly?</h2>
    <p>
        The name is derived from the proper spelling of the word, &ldquo;rally&rdquo;. The Webster dictionary defines rally as, &ldquo;to muster for a common purpose&rdquo; which accurately describes the goal of this service. The inproper spelling can be attributed to the difficulty of finding short and meaningful domain names.
    </p>
    <h2>Who made this?</h2>
    <p>
        Rallly was created by <a href="http://lukevella.com">Luke Vella</a>.
    </p>
</div>
