<div class="rl-modal-overlay">

<div class="rl-modal-position">

    <div class="rl-modal">
        <div class="rl-modal-title">{{modal.title}}</div>
        <div class="rl-modal-message">
            {{modal.message}}
        </div>
        <div class="rl-modal-actions">
            <button type="button" ng-click="modal.confirm()" ng-show="modal.confirm" class="btn" ng-class="{danger : modal.isDestructive}">{{modal.confirmText}}</button>
            <button type="button" ng-click="modal.cancel()"  class="btn">{{modal.cancelText}}</button>
        </div>
    </div>

</div>

</div>
