<div ng-show="event._id">
    <div class="box">

        <div class="box-title">Edit Event</div>
        <div class="box-description">
            You can makes changes to your existing event by changing the fields in the form below.
        </div>

        <form novalidate name="form" ng-submit="submit()">

            <section class="box-section" user-form form="form" event="event">

            </section>

            <section class="box-section" event-form form="form" event="event">

            </section>
            <section class="box-section" date-form form="form" event="event">

            </section>

            <section class="box-section" settings-form form="form" event="event">

            </section>

            <div class="box-controls box-bottom-sticky">
                <button type="submit" ng-show="didChange()" class="btn btn-primary" ng-class="{disabled : !didChange()}">
                    Save Changes
                </button>
                <button type="button" ng-click="undoChanges()" class="btn" ng-show="didChange()">Undo Changes</button>
                <a href="/{{event._id}}" class="btn" ng-hide="didChange()">Done</a>
            </div>

        </form>

    </div>

</div>
