<div ng-show="event._id">
    <div class="box ">
        <div class="event-header">
            <div class="avatar">
                <img src="/images/eventicon.png" width="32  " />
            </div>
            <div class="details">
                <div class="title">
                    {{event.title}}
                </div>
                <div class="subtitle">
                    Created by <a href="mailto:{{event.creator.email}}">{{event.creator.name}}</a> &bull; {{event.created | elapsed}}
                </div>
            </div>
            <div class="actions">
                <button class="btn" ng-click="editEvent()">Edit Event</button>
            </div>
        </div>
        <div class="box-side-sticky event-description" ng-show="event.description">{{event.description}}</div>
        <div class="box-bottom-sticky event-location" ng-show="event.location">
            <img src="/images/location.png" width="18" /><a href="http://google.com/maps?q={{event.location}}" target="_blank">{{event.location}}</a>
        </div>

    </div>
    <div class="box box-x-scroll">
        <div poll event="event" class="poll" participant="participant">
        </div>
    </div>
</div>
