<div class="not-found">
    <video id="gfyVid1" class="gfyVid" width="480" height="360" autoplay="" loop="" muted="muted" style="display: block;" poster="//thumbs.gfycat.com/PaltryComfortableBaldeagle-poster.jpg">
            <source id="webmsource" src="//zippy.gfycat.com/PaltryComfortableBaldeagle.webm" type="video/webm">
            <source id="mp4source" src="//zippy.gfycat.com/PaltryComfortableBaldeagle.mp4" type="video/mp4">
            Sorry, you don't have HTML5 video and we didn't catch this properly in javascript.
            You can try to view the gif directly: <a href="http://zippy.gfycat.com/PaltryComfortableBaldeagle.gif">http://zippy.gfycat.com/PaltryComfortableBaldeagle.gif</a>.
        </video>
    <div class="overlay">
        <div class="wrapper">
            <div class="title">Error 404 </div>
            <div class="description">The page you are looking for could not be found!</h2>
            <div class="actions">
                <a href="/" target="_self">Go to Homepage</a>
            </div>
        </div>
    </div>
</div>
