@import 'tailwindcss';

@source '../../../packages/ui/src/**/*.{ts,tsx}';
@source '../../../packages/tailwind-config/tailwind.config.js';

@import '../../../packages/tailwind-config/shared-styles.css';
