.ng-submitted .ng-invalid > .date-picker {
    border-color: $pink-clr;
}

.date-picker {
    border: 1px solid $border-clr;
    border-radius: 2px;
    @include transition(border-color 0.2s ease-in-out);
    .wrapper {
        padding:em(20);
    }
    .date-picker-head {
        display:table;
        width:100%;
        margin-bottom:em(30);
        text-align:center;
        .title {
            display:inline-block;
            font-weight:bold;
            font-size: em(18px);
        }
        .arrow {
            text-decoration:none;
            color: $text-3-clr;
            position:relative;
            border: 1px solid $border-clr;
            display:inline-block;
            width: em(35);
            border-radius: 2px;
            font-size: em(12);
            line-height:em(30);
            text-align:center;
            float:left;
            margin-left:em(10);
            box-shadow: 0 1px 1px rgba($border-clr,0.5);
            &:last-child {
                float:right;
                margin-left:0;
                margin-right:em(10);

            }
            &:hover {
                color: $text-clr;
            }
            &:active {
                box-shadow:none;
            }

        }
    }
    .dow {
        padding-bottom: 10px;
        @include display(flex);
        width:100%;
        border-bottom: 2px solid $border-clr;
        margin-bottom: 10px;
        .day {
            font-size: em(14);
            width: (100% / 7);
            @include display(flex-item);
            text-align:center;
            color: $pink-clr;
        }
    }
    .values {
        .value {
            display:inline-block;
            width: (100% / 7);
            text-align:center;
            font-size: em(14px);
            line-height:em(55px);
            position:relative;
            font-weight: bold;
            &.today {
                color:#818176;
                &:after {
                    opacity:1;
                    background: rgba(yellow, 0.1);
                }
            }
            &.outside {
                color: $text-3-clr;
                font-weight:normal;
            }
            &:after {
                content: " ";
                cursor:pointer;
                opacity: 0;
                position:absolute;
                $size: em(42px);
                width:$size;
                height:$size;
                margin-left:$size * -0.5;
                margin-top:$size * -0.5;
                left:50%;
                top:50%;
                border-radius: 2px;
            }
            &:hover {
                &:after {
                    opacity:1;
                    background: rgba($border-clr,0.4);
                }
                cursor: pointer;
            }
            &.active {
                background:white;
                color: $green-clr;
                &:after {
                    opacity:1;
                    background: rgba($green-clr,0.1);
                }
            }
        }
    }
}

.daticon-list {
    margin:0;
    margin-left:-5px;
    list-style:none;
    padding:5px;
    text-align:left;
    li {
        display:inline-block;
        margin: 10px 10px 0 0;
    }
}

.daticon {
    box-shadow: 0 0 0 1px rgba($border-clr,0.5);
    border-radius: 3px;
    display:inline-block;
    padding:8px 10px;
    width: 54px;
    text-align:center;
    position:relative;
    cursor:default;
    background:white;
    .dow {
        font-size: 8px;
        margin-top:-12px;
        background:white;
        color: $text-3-clr;
        margin-bottom: 4px;
        font-weight:normal;
        text-transform: uppercase;
    }
    .day {
        font-size: 20px;
        font-weight:normal;
        color: $pink-clr;
        line-height:20px;
    }
    .month {
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
    }
    .delete {
        text-align:center;
        border:0;
        $size: 18px;
        width: $size;
        height: $size;
        position:absolute;
        top: $size * -0.4;
        right: $size * -0.4;
        border-radius:100%;
        display:inline-block;
        background: rgba($border-clr, 0.5) url(../images/close@2x.png) no-repeat center center;
        background-size: 7px 8px;
        cursor:pointer;
        opacity:0;
        &:hover {
            background-color: rgba($border-clr, 0.8)
        }
    }
    .count {
        text-align:center;
        border:0;
        $size: 18px;
        width: $size;
        height: $size;
        position:absolute;
        top: $size * -0.4;
        right: $size * -0.4;
        border-radius:100%;
        font-weight:bold;
        display:inline-block;
        background: darken($border-clr, 10%);
        color:white;
        font-size: 9px;
        line-height: $size;
        @include transition(background-color 0.2s ease-in-out);
        &.top {
            background: $orangered-clr;
        }

    }
    &:hover {
        .delete {
            opacity: 1;
        }
    }
}
