form {
    margin:0;
    &.ng-submitted {
        .ng-invalid {
            border-color: $pink-clr !important;
        }
    }
}

.form-container {
    width:100%;
}

.form-row {
    @include row();
    margin-bottom:10px;
    @include user-select(none);
}

.form-col {
    @include span-columns(6);
    &.padded {
        &:first-child {
            padding: 0 20px 0 0;
        }
        &:last-child {
            padding: 0 0 0 20px;
        }
    }
}

.form-group {
    & > label {
        font-size:em(12px);
        color: $text-3-clr;
        display:inline-block;
        line-height:em(30px);

    }
    .form-error {
        font-size: em(12px);
        color: $red-clr;
        float: right;
        img {
            vertical-align:bottom;
            margin-right: 3px;
        }
    }
    &.optional > label:after {
        content: " (optional)";
    }
    &.error {
        input.form-control, textarea.form-control {

            border-color: $pink-clr;
            background: rgba($pink-clr,0.02);
        }
    }
    input.form-control, textarea.form-control {
        border-radius: 3px;
        border: 1px solid $border-clr;
        font-size:em(18px);
        @include transition(border-color 0.1s ease-in-out);
        &:focus {
            border-color: $blue-clr;
            box-shadow: 0 0 3px rgba($blue-clr, 0.5);
            outline:none;
            background: white;
        }
        &.extend {
            width:100%;
        }
        @include placeholder {
            color: rgba($text-3-clr,0.7);
        }
    }
    .form-btn {
        padding: em(12px) em(15px);
    }
    input.form-control {
        vertical-align:middle;
        padding: em(5px) em(10px);
    }

    textarea.form-control {
        min-height: 135px;
        font-size: em(18px);
        padding: em(8px) em(10px);
    }

}


.form-submit-message {
    display:inline-block;
    margin-left: em(5px);
    font-size: em(12px);
    &.error {
        color: $red-clr;
    }
    img {
        vertical-align:middle;
        margin-right: em(5px);
    }
}
