.rl-modal-position {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.rl-modal {
    text-align:left;
    background:white;
    max-width: 400px;
    display:inline-block;
    height: auto;
    z-index: 2000;
    overflow:hidden;
    border-radius: 5px;
    box-shadow: 0 0 0 1px $border-clr, 0 0 0 5px rgba($border-clr,0.5);
    .rl-modal-message {
        padding: 0 20px 20px 20px;
        font-size: em(12px);
        color: $text-2-clr;
    }
    .rl-modal-title {
        padding:20px 20px 0 20px;
        font-size: em(18px);
        font-weight: bold;
    }
    .rl-modal-actions {
        border-top:1px solid $border-clr;
        box-shadow: inset 0 1px 0 white;
        background: lighten($background-clr,1%);
        text-align:right;
        padding: em(10px) em(20px);
    }
}

.ng-enter-active {
    .rl-modal {
        @include animation(0.5s bounceIn);
    }
}


.rl-modal-overlay {
    position:fixed;
    z-index: 1999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:table;
    background:rgba(black,0.1);
    @include animation-duration(0.3s);
    &.ng-leave-active {
        @include animation(0.3s fadeOut);
    }
}
