.notification {
    position: fixed;
    top: 80px;
    $not-width: 300px;
    right: 0;
    width: $not-width;
    z-index: 3000;
    padding: 12px 20px;
    background: $text-2-clr;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
    color: white;
    @include transition(all 0.3s ease-in-out);
    &.success {
        background: $green-clr;
    }
    &.error {
        background: $red-clr;
    }
    &.ng-enter {
        right: -$not-width;
        opacity:0;
    }
    &.ng-enter-active {
        right:0;
        opacity:1;
    }
    &.ng-leave-active {
        right:-$not-width;
        opacity:1;
    }
    .title {
        font-size: em(14px);
        margin-bottom: 2px;
    }
    .message {
        font-size: em(12px);
        color: rgba(white, 0.8);
    }
    .close {
        position: absolute;
        top: 5px;
        right:10px;
        color: white;
        text-decoration:none;

    }
}
