.time-picker {
    width:100%;
    padding: 10px;
    .time-picker-col {
        display:table-cell;
        vertical-align:middle;
    }
    .time-picker-input {
        padding: 5px;
        border-radius: 3px;
        border: 1px solid $border-clr;
        outline:0;
        font-size: 18px;
        &:focus {
            border-color: $blue-clr;
            box-shadow: 0 0 3px rgba($blue-clr, 0.5);
            outline:0;
        }
    }
}

.time-picker-input {
    @include form-input;
    padding: em(5px) 0;
    text-align:center;
    font-size:em(26px);
    &.ng-invalid {
        border-color: $red-clr;
        &:focus {
            box-shadow: 0 0 3px rgba($red-clr, 0.5);
        }
    }
    &.ng-valid.ng-dirty {
        border-color: $green-clr;
    }
    &:focus {
        color: $text-clr;
    }
}

.time-form {
    width:100%;
    td {
        padding: 10px 10px 10px 0;
        input {
            width: 100%;
        }
    }
}
