.time-picker {
    width:100%;
    padding: 10px;
    .time-picker-col {
        display:table-cell;
        vertical-align:middle;
    }
    .time-picker-input {
        padding: 5px;
        border-radius: 3px;
        border: 1px solid $border-clr;
        outline:0;
        font-size: 18px;
        &:focus {
            border-color: $blue-clr;
            box-shadow: 0 0 3px rgba($blue-clr, 0.5);
            outline:0;
        }
    }
}

.time-picker-input {
    padding: em(5px) 0;
    text-align:center;
    border:0;
    font-size:em(14px);
    &.ng-invalid {
        border-color: $red-clr;
        &:focus {
            box-shadow: 0 0 3px rgba($red-clr, 0.5);
        }
    }
    &.ng-valid.ng-dirty {
        border-color: $green-clr;
    }
    &:focus {
        outline:0;
        color: $text-clr;
    }
}

.time-form {
    width:100%;
    border:1px solid $border-clr;
    th {
        border-bottom:2px solid $border-clr;
        padding: 10px;
        font-size: 14px;
        text-transform:uppercase;
    }
    td {
        border-right: 1px solid $border-clr;
        padding: 10px 10px;
        border-bottom:1px solid $border-clr;
        &:last-child {
            border-right:0;
        }
        input {
            width: 100%;
        }
    }
    tr:last-child {
        td {
            border-bottom:0;
        }
    }
}
