$dark-blue-clr: #2E3A54;
$green-clr: #6EBC48;
$pink-clr: #E55A84;
$red-clr: #BF3A61;
$blue-clr: #5AC4E5;
$light-blue-clr: #F5F6F8;


$text-clr: #3D4043;
$text-2-clr: #828B9A;
$text-3-clr: #AEB4BE;
$border-clr: #D9DDE3;
$navigation-bg-clr: $dark-blue-clr;
$background-clr: $light-blue-clr;
