.rbc-time-view {
  border: 0;
  border-bottom: 1px solid var(--color-border-muted);
  border-top: 1px solid var(--color-border-muted);
}

.rbc-today {
  background-color: color-mix(in srgb, var(--color-muted) 50%, transparent);
}

.rbc-time-content > * + * > * {
  border-color: var(--color-border);
}

.rbc-time-header.rbc-overflowing,
.rbc-time-header-content,
.rbc-header {
  border-color: var(--color-border-muted);
}

.rbc-time-content {
  border-top: 0;
}

.rbc-time-view .rbc-allday-cell {
  display: none;
}

.rbc-current-time-indicator {
  background-color: var(--color-rose-400);
}

.rbc-header + .rbc-header {
  border-left: 0;
}

.rbc-time-slot {
  padding-left: 0.5rem;
  padding-top: 0.25rem;
}

.rbc-timeslot-group {
  border-color: var(--color-border-muted);
}

.rbc-day-slot .rbc-time-slot {
  border-style: dashed;
  border-color: var(--color-border-muted);
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0.5rem;
}

.rbc-slot-selection {
  background-color: color-mix(
    in srgb,
    var(--color-border-muted) 50%,
    transparent
  );
  line-height: 1.25;
  color: var(--color-gray-600);
}

.rbc-header.rbc-today {
  color: var(--color-rose-500);
}

.rbc-button-link {
  pointer-events: none;
  margin: 0.25rem;
  width: 100%;
}

.rbc-time-header-gutter {
  border-bottom: 1px solid var(--color-border-muted);
}
