# URL of the main web app
NEXT_PUBLIC_APP_BASE_URL=https://web.rallly.test

# The base url where the landing page is accessible, including the scheme.
NEXT_PUBLIC_BASE_URL=https://landing.rallly.test

# A connection string to your Postgres database
DATABASE_URL=postgres://postgres:postgres@localhost:5450/rallly
