name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  type-check:
    name: Type check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node
      - uses: ./.github/actions/yarn-install

      - name: Check types
        run: yarn type-check

  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node
      - uses: ./.github/actions/yarn-install

      - name: Check linting rules
        run: yarn lint

  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node
      - uses: ./.github/actions/yarn-install

      - name: Run tests
        run: yarn test:unit

  # Label of the container job
  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: postgresql://postgres:postgres@localhost:5450/rallly
      CI: true
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node
      - uses: ./.github/actions/yarn-install

      - name: Install system dependencies
        run: |
          sudo apt-get update

      - name: Install playwright dependencies
        run: yarn playwright install --with-deps chromium

      - name: Create production build
        run: yarn turbo build:test --filter=@rallly/web

      - name: Start services
        run: yarn docker:up

      - name: Setup database
        run: yarn db:deploy

      - name: Run tests
        run: yarn turbo test:integration

      - name: Upload artifact playwright-report
        if: ${{ success() || failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: playwright-report
          path: ./apps/web/playwright-report
